{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'images/icon.png'%}" type="">
    <title>{% block title %}{% endblock title %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
    
    

    <link rel="stylesheet" href="{% static 'css\style.css'%}">




</head>

<body>

    <!-- navbar -->
    {% load static %}
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light sticky-top">
        <a id="EShoplogo" class="navbar-brand" href="/">
            <img style="height:50px;" src="{% static 'images\E-Shop2.png' %}" alt="E-Shop">

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">

            </ul>
            {{customer}}
            <ul class=" navbar-nav my-2 my-lg-0">
                <li class="nav-item pr-2 ">
                    <a class="nav-link" href="/cart"> <img style="height:30px;" src="{% static 'images\cart3.png' %}"
                            alt="Cart">
                        <span class="badge badge-info ">{{request.session.cart.keys|length}}</span> <span
                            class="sr-only ">(current)</span></a>


                </li>
                {% if request.session.customer %}

                <!-- <li class="nav-item ">
                    <a class="nav-link" href="/logout"><b>Logout</b> <span class="sr-only">(current)</span></a>
                </li> -->
                <!-- <li class="nav-item ">
                    <a class="nav-link" href="/profile"><b></b> <span class="sr-only">(current)</span>
                    <img id="profileLogo" src="{% static "images\profile-logo.png" %}"></a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="/orders"><b> Orders</b> <span class="sr-only">(current)</span></a>
                </li>
                <li id="dropdown" class="nav-item dropdown mr-2">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img id="profileLogo" src="{%static 'images\profile-logo.png'%}">

                    </a>
                    <div id="dropdownmenushow" class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link" href="/profile"><b>Profile</b> <span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="/logout"><b>Logout</b> <span class="sr-only">(current)</span>
                            <img id="logoutlogo" src="{% static 'images\logout-logo.png'%}">
                        </a>
                    </div>
                </li>

                {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="/Signup"><b>Signup</b> <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="/login"><b>Login</b> <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
            </ul>

        </div>
    </nav>

    <script src="{% static 'js/script.js' %}"></script>






    <!-- body -->


{% block content %}{% endblock content %}




    <script src="{% static 'js/script.js' %}"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

<!-- footer -->


</html>
