{% extends 'base.html' %}
{% block title %}E-Shop Login{% endblock title %}
{% load static %}

{% block content %}

<div class="container">
    <div class="p-4 m-4">
        <div class=" col-lg-4 mt-4 mb-4 mx-auto border rounded pt-4">
            <img id="login" src="{% static 'images\login2.png'%}" alt="Login Here" >
            <h5 class="alert alert-light border rounded mt-3 mb-3">Login Here</h5>
            <form action="/login" method="post">
                {% csrf_token %}

                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                
                </div>
                {% endif %}

                <!-- email -->
                <div class="form-group">
                    <label for="">Email</label>
                    <input required type="email" name="email" id="" value = "{{values.email}}" class="form-control form-control-sm" placeholder="example@gmail.com">
                </div>

                <!-- password -->
                <div class="form-group">
                    <label for="">Password</label>
                    <input id="password" type="password" name="password" id="" class="form-control form-control-sm" placeholder="******" >
                    <span><input id="checkbox" type="checkbox"></span><span id ="Showpassword">Show Password</span>
                    
                </div>

                <div class="form-group">
                    <input class = "btn btn-sm btn-info col-lg-4"type="submit" value="Login">
                    
                </div>
                

                
            </form>
        </div>
    </div>
</div>

<script>
    let password = document.getElementById('password');
    let checkbox = document.getElementById('checkbox');

    checkbox.onclick = function(){
        if (checkbox.checked){
            password.type ='text';


        }else{
            password.type = 'password';
        }

    }
</script>


      



{% endblock content %}