{% extends 'base.html' %}
{% block title %}Your Orders{% endblock title %}
{% block content %}
{% load cart %}
{% load custom_filter %}
{% load static %}


<style>
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #333;
        /* Set your desired background color */
        padding: 10px;

    }

    .navbar ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navbar li {
        display: inline;
        margin-right: 15px
    }

    .navbar a {
        text-decoration: none;
        color: white;
    }
</style>

<div id="order" class="container border rounded p-4 mt-6">


        <p class="display-4">Your Orders</p>

        <table id="yourorder" class="table pl-4 ml-8">
            <thead id="th">
                <tr>
                    <th>Sno.</th>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Date</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height:50px;" class="rounded-circle" src="{{order.product.image.url}}" alt=""></td>
                    <td>{{order.product.name}}</td>
                    <td>{{order.date}}</td>
                    <td>{{order.price|currency}}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.quantity|multiply:order.price|currency}}</td>
                    {% if order.status %}
                    <td><small class="badge badge-success">Completed</small></td>
                    {% else %}
                    <td><small class="badge badge-warning">Pending</small></td>


                    {% endif %}
                </tr>

                {% endfor %}
            </tbody>
        </table>

</div>

<div id="footer_order" class="footer pt-4">
    <footer>


        <h5>&copy; Copyright Reserved Abdul Qadir - 2023</h5>

        <h6>Made by Abdul Qadir &hearts; </h6>

        <div class="social">

            <a href="https://www.linkedin.com/in/abdul-qadir-96305b230/">
                <img src="{% static 'images\li.png'%}" alt="Linkedin" width="70" height="65">
            </a>

            <a style="margin-right: 11px;" href="https://www.instagram.com/itz_abdul_qadir/">
                <img src="{% static 'images\igpng.png'%}" alt="Instagram" width="42" height="40">
            </a>
            <a href="https://github.com/abdulqadir4344">
                <img src="{% static 'images\gh.png'%}" alt="Github" width="47" height="42">
            </a>
        </div>

    </footer>

</div>



{% endblock content %}